* {
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:#fff5ee;
}
#imgpos{
	position: relative;
    top: 60 px; 
    left: 0px;
    right: 100px;
    width: 80px; 
    height: 103px;
	}

.center {
    margin: auto;
    padding: 10px;
    width: 75%;
    border: 3px solid pink;
}

.center_inside {
    margin: auto;
    padding: 2px;
    width: 95%;
    border: 3px solid purple;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid pink;
  text-align: left;
  padding: 8px;
}
